@import './normalize.scss';
@import './variables.scss';
@import './fonts.scss';


body {
    min-width: $screen-phone;
    min-height: 100vh;
    color: $color-primary-dark;
    font-family: $font-main;
    font-size: 16px;
    background: $color-primary-light;
  }

  .container {
    margin: 0 auto;
    padding: 0 20px;
  }


