body {
    min-width: 300px;
    color: $color-primary-dark;
    font-family: $font-main;
    font-size: 16px;
    background-color: $color-primary-light;
  }

  .open body {
    overflow: hidden;
  }


  .container {
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "header"     
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: minmax(75px,90px) auto minmax(208px,223px);
  }

  .header {
    grid-area: header;
  }

  .main {
    grid-area: main;
  }
  
  .footer {
    grid-area: footer;
  }
  
  
  .content-wrapper {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    max-width: 479.99px;
    border: 2px solid green;

    @media (min-width: $screen-phone-landscape) {
      max-width: 767.99px;
    }
    @media (min-width: $screen-tablet) {
      max-width: 1023.99px;
    }
    @media (min-width: $screen-desktop) {
      max-width: 1399.99px;
    }
  }

  *{
    z-index: 1;
    transition: all 0.5s ease;
  }


  section {
    padding: 60px 0;
    border: 1px solid red;
  }

  a:hover {
    border-bottom: 2px solid $color-primary-light;
  }

  //слайдер

  // .swiper-wrapper {

  //   @media (min-width: $screen-tablet) {
  //     .our-menu & {
  //       padding: 50px 165px;
  //     }
  //   }
    
    
  // }
  
  // .swiper-slide {
  //   @media (min-width: $screen-tablet) {
  //     .our-menu & {
  //       padding: 0 !important;
  //       margin: 0 !important;
  //     }
  //   }
    
  // }



.swiper-button-prev:after, html .swiper-button-next:after{
    color: $color-dark-secondary;
    transition: 0.3s;
}

.our-menu .swiper-button-prev:after, .our-menu .swiper-button-next:after{
    color: $color-primary-light;
    
}

 .swiper-button-prev:hover:after, html .swiper-button-next:hover:after{
    color: $color-secondary;
}

.swiper-button-prev:active:after, html .swiper-button-next:active:after{
  color: $color-accent;
  //margin: 20px;
}


  span.swiper-pagination-bullet {
    background-color:$color-dark-secondary;
    transition: 0.3s;
    opacity: 1;
  }


  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $color-accent;
  }


  



